{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block catalog_button %}

<div class="dropdown d-inline-block">
    <button class="btn dropdown-toggle position-relative ms-3 fs-5" 
            data-bs-toggle="dropdown" 
            style="width: 130px; height: 50px;">
        Catalog
        <img class="catalog_item mx-1" src="{% static 'deps/icons/menu-catalog.svg' %}" width="28" height="28">
    </button>
    <ul class="dropdown-menu">
        {% tag_categories as categories %}
        {% for category in categories %} 
            <li>
                <a class="dropdown-item" href="{% url 'catalog:index' category.slug %}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block filters %}

    <div class="dropdown">
        <button class="btn dropdown-toggle fs-5" type="button" data-bs-toggle="dropdown" 
                aria-expanded="false" style="width: 130px; height: 50px;">
            Filters
            <img class="catalog_item ms-1" src="{% static 'deps/icons/filters.svg' %}" alt="Filters" width="28" height="28">
        </button>

        <div class="dropdown-menu dropdown-menu-end custom-dropdown shadow" style="color: #c3b2b2; min-width: 250px;">
            <form action="{% if request.GET.q %}{% url 'catalog:search' %}{% else %}{% url 'catalog:index' slug_url %}{% endif %}" 
                method="get" class="px-3 py-2">
                
                <div class="form-check custom-checkbox">
                    <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on"
                        {% if request.GET.on_sale == 'on' %}checked="checked"{% endif %}>
                    <label class="form-check-label" for="flexCheckDefault">Products on sale</label>
                </div>

                {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                {% endif %}

                <p class="mt-3 text-center">Sort:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default"
                        {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault1">Default</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price"
                        {% if request.GET.order_by == 'price' %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault2">Cheap to expensive</label>
                </div>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price"
                        {% if request.GET.order_by == '-price' %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault3">Expensive to cheap</label>
                </div>
                <div class="d-flex justify-content-center w-100 mt-3">
                    <button type="submit" class="btn btn-outline-success" style="color: #c3b2b2;">
                        Apply
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock filters %}

{% block cards %}

    <div class="container">
        <div class="row justify-content-center">
            {% for product in goods %}
            <div class="col-md-4 mt-4" style="max-width: 320px;">
                <div class="card border-success rounded custom-shadow h-100 p-3">
                    
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'deps/images/Not found image.png' %}" class="card-img-top" alt="...">
                    {% endif %}
    
                    <div class="card-body text-center d-flex flex-column">
                        <a href="{% if product.slug %}{% url 'catalog:product' product.slug %}{% else %}#{% endif %}" style="color: #096740; font-size: 1.2rem;">
                            <p class="card-title fw-bold">
                                {% if product.headline %}{{ product.headline|safe }}{% else %}{{ product.name }}{% endif %}
                            </p>
                        </a>
                        
                        <p class="card-text small text-muted flex-grow-1" style="font-size: 1rem; color: #2a1e1e !important;">
                            {% if product.bodyline %}{{ product.bodyline|safe }}{% else %}{{ product.description|truncatechars:100 }}{% endif %}
                        </p> 
    
                        <p class="product_id small text-secondary mb-1" style="font-size: 1rem; color: #2a1e1e !important;" >id: {{ product.display_id }}</p>
    
                        {% if product.discount %}
                            <div class="mb-2">
                                <span class="badge bg-success" style="background-color: #85d8a7 !important; font-size: 1.2rem; color: #2a1e1e;">
                                    Discount -{{ product.discount }}%
                                </span>
                            </div>
                        {% endif %}
                        
                        <div class="d-flex justify-content-between align-items-center mt-auto">
                            <div class="text-start" style="font-size: 1.2rem; color: #2a1e1e;">
                                {% if product.discount %}
                                    <p class="mb-0 text-decoration-line-through text-muted small" style="font-size: 0.8rem; color: #2a1e1e;">
                                        {{ product.price }} UAH
                                    </p>
                                    <p class="mb-0 fw-bold">{{ product.sell_price }} UAH</p>
                                {% else %}
                                    <p class="mb-0 fw-bold">{{ product.price }} UAH</p>
                                {% endif %}
                            </div>
    
                            <form method="post" action="{% url 'carts:cart_add' %}">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <button type="submit" class="btn add-to-cart p-0">
                                    <img src="{% static 'deps/icons/cart-main.svg' %}" alt="Cart" width="38" height="38">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-5">
            
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link border-success shadow-sm" 
                href="{% if page_obj.has_previous %}?{% change_params page=page_obj.previous_page_number %}{% else %}#{% endif %}">
                    Back
                </a>
            </li>

            {% for page in page_obj.paginator.page_range %}
                {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                    <a class="page-link border-success shadow-sm"
                    href="?{% change_params page=page %}">
                        {{ page }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link border-success shadow-sm"
                href="{% if page_obj.has_next %}?{% change_params page=page_obj.next_page_number %}{% else %}#{% endif %}">
                    Next
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
    
{% endblock cards %}