footer {
  position: fixed;
  bottom: 0;
  background-color: #986e6e;
  padding: 10px 10px;
  margin-top: auto; 
  z-index: 1100; 
  box-sizing: border-box;
}

.bg-custom {
  height: 50px;
  width: 100%; 
  background-color: #2a1e1e;
  color: #c3b2b2; 
  text-align: center;
}

.general-footer{
  display: flex; /* location management */
  justify-content: space-between;  /* evenly spaced on page with indents */
}

.icon_footer {
  width: 28px;
  height: 28px;
  object-fit: contain; /* maintains proportions */
  transition: transform 0.5s ease;
}

.copy-right {
  display: flex; 
  justify-content: center;
  align-items: center;
  color: #c3b2b2; 
  font-size: 12px;
  margin: 0; /* external indents */
  padding: 0; /* internal indents */
  text-align: center;
  height: 100%;
}

.privacy_terms a {
  text-decoration: none;
  color: #c3b2b2;
  transition: color 0.5s ease;
  font-size: 16px;
}

.privacy_terms a:hover {
  color: #85d8a7;
  transform: scale(1.2); /* zoom on hover */
}

.icon_footer:hover {
  transform: scale(1.6);
}

.social-links,
.privacy_terms {
  display: flex;
  justify-content: center;
}

.information-pages {
  justify-content: center;
  align-items: center;
  background-color: #e2c9c9;
  padding: 20px 20px; 
  border-radius: 5px; /* rounding corners */
}

.information-pages h1 {
  color: #1e1010;
  font-size: 2em; /* big text */
  border-bottom: 3px solid #986e6e; /* emphasis */
  padding-bottom: 20px;
}

.information-pages h2 {
  color: #2a1e1e;
  font-size: 1.6em;
  padding: 15px;
}

.information-pages h4 {
  color: #2a1e1e;
  padding-top: 10px;
}

.information-pages p,
.information-pages ul {
  font-size: 1.2em; 
  color: #402b2b;
  list-style-type: disc; /* markers - dots */
}

.information-pages ul li {
  margin-bottom: 15px; /* distance between points */
}

.information-pages a {
  text-decoration: none;
  color: #2a1e1e;
  font-size: 1em;
  padding-bottom: 15px;
}

.contact-info ul li {
  color: #402b2b;
  list-style-type: none;
  font-size: 1em;
}

.contact-info a {
  display: inline-block;
  color: #402b2b;
  transition: transform 0.5s ease, color 0.5s ease;
}

.contact-info a:hover {
  color: #096740;
  transform: scale(1.0);
}

.form-check {
  color: #402b2b;
}