{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="bg-light p-5 rounded custom-shadow border-0">
                <div class="mb-3">
                    <span style="font-size: 3rem; color: #096740;">✔</span>
                </div>
                <h3 class="mb-4" style="color: #402b2b; font-weight: 600;">Password updated!</h3>
                <p class="text-muted">
                    Your password has been successfully changed. <br>
                    <strong>Please use your original Username (not email) to log in.</strong>
                </p>
                <a href="{% url 'user:login' %}" class="btn mt-3 custom-auth-btn" 
                   style="background-color: #096740; color: white; width: 200px;">
                    Go to Login
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}