{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="bg-light p-4 rounded custom-shadow border-0 text-center">
                <h3 class="mb-4" style="color: #402b2b; font-weight: 600;">Set New Password</h3>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group mb-3 text-start">
                            <label style="color: #402b2b; font-size: 0.9rem;" for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>
                         
                            {{ field }} 
                           
                            <script>
                                document.getElementsByName("{{ field.name }}")[0].className = "form-control";
                                document.getElementsByName("{{ field.name }}")[0].style.backgroundColor = "#f7f0ef";
                                document.getElementsByName("{{ field.name }}")[0].style.border = "1px solid #c3b2b2";
                            </script>
                
                            {% if field.errors %}
                                <div class="text-danger small">{{ field.errors }}</div>
                            {% endif %}
                            
                            {% if field.help_text %}
                                <small class="text-muted d-block">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn w-100 mt-2" 
                            style="background-color: #a38d8d; color: white; font-weight: 600;">
                        Change my password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}