{% load static %}
{% load cache %}
{% load goods_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">

    {% block css %}
    {% endblock %}

    <link rel="furniture-store-icon" sizes="256x256" href="{% static "deps/favicon/furniture-store-256x256.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/furniture-store-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/furniture-store-16x16.png" %}">
    <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div id="cart-alert" class="alert alert-success position-fixed text-center translate-middle-x z-3" 
             style="display: none; background-color: #A8E6CF; color: #2E7D32; border-color: #66BB6A;">
            <span id="cart-alert-message"></span>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark px-0 mb-3" style="background-color: #402b2b;">
            <div class="container-fluid px-lg-5">
                <a class="navbar-brand d-flex align-items-center" href="{% url 'main:index' %}">
                    <img src="{% static 'deps/icons/shop.svg' %}" alt="Logo" width="32" height="32">
                    <span class="ms-2 fw-bold logo-text">HomeMade</span>
                </a>
        
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                        aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle custom-nav-link" href="#" role="button" data-bs-toggle="dropdown">
                                <strong>Information</strong>
                            </a>
                            <ul class="dropdown-menu shadow">
                                <li><a class="dropdown-item" href="{% url 'main:delivery_and_payment' %}">Delivery and payment</a></li>
                                <li><a class="dropdown-item" href="{% url 'main:contact_informations' %}">Contact information</a></li>
                                <li><a class="dropdown-item" href="{% url 'main:about' %}">About us</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" href="{% url 'user:users_cart' %}"><strong>Cart</strong></a>
                        </li>
                        
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" href="{% url 'user:login' %}"><strong>Login</strong></a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle custom-nav-link" href="#" role="button" data-bs-toggle="dropdown">
                                <strong>My profile</strong>
                            </a>
                            <ul class="dropdown-menu shadow">
                                <li><a class="dropdown-item" href="{% url 'user:profile' %}">Account</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'user:logout' %}">Log out</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <div>
                        <form id="search-form" class="d-flex align-items-center mt-lg-1 mt-3 mb-1" role="search" action="{% url 'catalog:search' %}" method="get">
                            <input class="form-control me-2 py-1" type="search" name="q" placeholder="Search..." value="{{ request.GET.q }}">
                            <button class="btn btn-success fw-bold py-1 px-3" style="background-color: #096740;" type="submit">
                                <img src="{% static 'deps/icons/search1.svg' %}" alt="Logo" width="26" height="26">
                            </button>
                        </form>
                       
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <div style="position: sticky !important; width: 100%; z-index: 10;">
        <div class="container-fluid px-md-5">
            <div class="row align-items-center" style="min-height: 50px;">
                
                <div class="col-4 d-flex justify-content-start">
                    {% block catalog_button %}{% endblock %}
                </div>
    
                <div class="col-4 d-flex justify-content-center">
                    {% block filters %}{% endblock %}
                </div>
    
                <div class="col-4 d-flex justify-content-end">
                    {% block modal_cart %}{% endblock %}
                </div>
    
            </div>
        </div>
    </div>
    
    <main class="container-fluid px-md-5" style="padding-bottom: 30px !important;"> 
        {% include "includes/notifications.html" %}
        {% block content %}{% endblock %}
        
        <div class="row">
            {% block cards %}{% endblock %}
        </div>
    </main>
    
      
    <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
    <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>

    <script>
        $(document).ready(function() {
            console.log("The cleaner is launched directly from base.html");
  
            function sweep(el) {
                setTimeout(function() {
                    $(el).fadeOut(800, function() {
                        $(this).remove();
                    });
                }, 5000); // 5 seconds
            }
   
            $('.alert').each(function() {
                sweep(this);
            });
   
            var observer = new MutationObserver(function(mutations) {
                mutations.forEach(function(mutation) {
                    mutation.addedNodes.forEach(function(node) {

                        if ($(node).hasClass('alert')) sweep(node);
                        $(node).find('.alert').each(function() { sweep(this); });
                    });
                });
            });
        
            observer.observe(document.body, { childList: true, subtree: true });
        });
    </script>
    <script> 
        function showCartNotification(message, type = 'success') {

            const alertDiv = document.createElement('div');
            alertDiv.className = `alert ${type === 'success' ? 'alert-success' : 'alert-danger'} shadow-lg text-center position-fixed start-50 top-50 translate-middle z-3`;
            alertDiv.style.minWidth = '300px';
            alertDiv.style.borderRadius = '15px';
            alertDiv.style.zIndex = '9999'; 
            alertDiv.innerHTML = `<strong>${message}</strong>`;
        
            document.body.appendChild(alertDiv);
        
            setTimeout(() => {
                alertDiv.style.transition = "opacity 0.6s ease";
                alertDiv.style.opacity = "0";
                setTimeout(() => alertDiv.remove(), 600);
            }, 3000);
        }
    </script>   

</body>

</html>

{% block footer %}
<div class="general-footer">
    {% include "includes/footer.html" %}
</div>
{% endblock %}