{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block content %}

<div class="text-center">
<div class="information-pages">
    <h1>About us HomeMade</h1>
    <h4>Our furniture store is a combination of style, comfort, and quality.</h4>
    <h4>We offer furniture designed for your comfort: from exquisite sofas to functional dining tables.</h4>    
    <h4>Here you will find stylish solutions for any interior, and experienced consultants will help you choose what is ideal for your home.</h4>
    <h4>We make comfort accessible, so on our website you will find what you need, welcome!</h4>       
</div>
</div>

{% endblock %}